NodeRedHeadFlows.json
[{"id":"c0f0114b.0864e","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"a96edd81.5079","type":"tab","label":"HomeStates","disabled":true,"info":""},{"id":"fa420be1.f9d0c8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f50e5c76.9c98e","type":"mqtt-broker","name":"RaspiMQTT","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"63794795.727948","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Sandis Robs und Kids Zuhause","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"bb31f53d.f791f8","type":"ui_tab","name":"TestTab","icon":"dashboard","disabled":true,"hidden":false},{"id":"5a1d2c44.fa3bb4","type":"ui_group","name":"Tests","tab":"bb31f53d.f791f8","disp":true,"width":"6","collapse":false},{"id":"a2bab4ab.b0d208","type":"ui_tab","name":"Home","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"d9e87f67.735fa","type":"tado-config","name":"TadoLogin"},{"id":"b6ed675c.cae3c8","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3},{"id":"b24d2afc.38b2a8","type":"ui_group","name":"Tim","tab":"a2bab4ab.b0d208","order":3,"disp":true,"width":"5","collapse":false},{"id":"61e529b7.3bafc8","type":"ui_group","name":"Romy","tab":"a2bab4ab.b0d208","order":4,"disp":true,"width":"5","collapse":false},{"id":"3838935d.2cd90c","type":"ui_group","name":"Kammer","tab":"a2bab4ab.b0d208","order":6,"disp":true,"width":"5","collapse":false},{"id":"abfddc9d.07cba","type":"ui_group","name":"Schlafzimmer","tab":"a2bab4ab.b0d208","order":7,"disp":true,"width":"5","collapse":false},{"id":"fa76c13d.f92be","type":"ui_group","name":"Kueche","tab":"a2bab4ab.b0d208","order":8,"disp":true,"width":"5","collapse":false},{"id":"dbb48a5e.e81d78","type":"ui_group","name":"WohnEssZimmer","tab":"a2bab4ab.b0d208","order":5,"disp":true,"width":"5","collapse":false},{"id":"c1bfec4e.86923","type":"ui_group","name":"Overview","tab":"a2bab4ab.b0d208","order":1,"disp":true,"width":30,"collapse":false},{"id":"26811bcd.3a6474","type":"ui_group","name":"Triggers","tab":"a2bab4ab.b0d208","order":2,"disp":true,"width":"6","collapse":false},{"id":"5a552d32.a0c514","type":"ui_spacer","name":"spacer","group":"c1bfec4e.86923","order":2,"width":2,"height":1},{"id":"35bb184c.26ae68","type":"ui_spacer","name":"spacer","group":"c1bfec4e.86923","order":3,"width":2,"height":1},{"id":"4fc65f7e.3c24e","type":"mqtt in","z":"c0f0114b.0864e","name":"SonoffRFBridge","topic":"/home/robsrfbridge/RESULT","qos":"2","datatype":"auto","broker":"f50e5c76.9c98e","x":160,"y":160,"wires":[["d1662845.85f8f8","fceb448.99766b8"]]},{"id":"d1662845.85f8f8","type":"debug","z":"c0f0114b.0864e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":520,"y":160,"wires":[]},{"id":"fceb448.99766b8","type":"ui_text","z":"c0f0114b.0864e","group":"5a1d2c44.fa3bb4","order":0,"width":0,"height":0,"name":"TestPropName","label":"TestLabel","format":"{{msg.payload}}","layout":"row-spread","x":526.5,"y":236,"wires":[]},{"id":"c79a2f80.436db","type":"openweathermap in","z":"c0f0114b.0864e","name":"WeatherNuremberg","wtype":"current","lon":"11.07752","lat":"49.45421","city":"","country":"","language":"de","x":134.5,"y":481,"wires":[["c2e07ae6.a93908","58ba1e7c.bf03e","228d0cad.7e8434","ac5cdec1.0b8a"]]},{"id":"ac5cdec1.0b8a","type":"debug","z":"c0f0114b.0864e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":563.5,"y":416,"wires":[]},{"id":"260d176b.647868","type":"e-mail","z":"c0f0114b.0864e","server":"smtp.web.de","port":"587","secure":false,"tls":true,"name":"robert.weissmann@web.de","dname":"MailToRobWebDe","x":538.5,"y":315,"wires":[]},{"id":"c2e07ae6.a93908","type":"function","z":"c0f0114b.0864e","name":"TempChanger","func":"var newTemp = msg.payload.tempc * 100;\nreturn { payload: newTemp };","outputs":1,"noerr":0,"x":337.5,"y":416,"wires":[["ac5cdec1.0b8a"]]},{"id":"58ba1e7c.bf03e","type":"change","z":"c0f0114b.0864e","name":"TempChanger2","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempc","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":331.5,"y":583,"wires":[["50a95f91.24014"]]},{"id":"50a95f91.24014","type":"ui_gauge","z":"c0f0114b.0864e","name":"TempGauge","group":"5a1d2c44.fa3bb4","order":1,"width":0,"height":0,"gtype":"gage","title":"Nürnberg Temp","label":"Grad","format":"{{value}}","min":"-20","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570.5,"y":582,"wires":[]},{"id":"228d0cad.7e8434","type":"change","z":"c0f0114b.0864e","name":"HumidityChanger","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":339.5,"y":682,"wires":[["f25e8482.356e08"]]},{"id":"f25e8482.356e08","type":"ui_gauge","z":"c0f0114b.0864e","name":"HumidityGauge","group":"5a1d2c44.fa3bb4","order":2,"width":0,"height":0,"gtype":"gage","title":"Nürnberg Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":574.5,"y":682,"wires":[]},{"id":"75019a6f.eb7d64","type":"mqtt in","z":"a96edd81.5079","name":"DoorsMQTT","topic":"/home/doors","qos":"2","datatype":"auto","broker":"f50e5c76.9c98e","x":106.5,"y":51,"wires":[["54384db3.d88624"]]},{"id":"5eda81a8.d82f2","type":"debug","z":"a96edd81.5079","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1128.5,"y":491,"wires":[]},{"id":"54384db3.d88624","type":"json","z":"a96edd81.5079","name":"","property":"payload","action":"","pretty":false,"x":292.5,"y":53,"wires":[["5eda81a8.d82f2","8f029f65.8f2de"]]},{"id":"8f029f65.8f2de","type":"switch","z":"a96edd81.5079","name":"DoorsToRooms","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"Tim","vt":"str"},{"t":"eq","v":"Romy","vt":"str"},{"t":"eq","v":"Kammer","vt":"str"},{"t":"eq","v":"Kueche","vt":"str"},{"t":"eq","v":"Wohnzi","vt":"str"},{"t":"eq","v":"Esszi","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":514.5,"y":82,"wires":[["26318977.8fd126"],["260e6e90.f75402"],["eacafe5e.988cb"],["6a6e21b2.c8e8d"],["c2a34a75.84c7a8"],["e92b1189.8b97f"]]},{"id":"bb591a2d.9524d8","type":"tado","z":"a96edd81.5079","configName":"d9e87f67.735fa","apiCall":"getMe","homeId":"","deviceId":"","zoneId":"","power":"on","temperature":"18","terminationType":"manual","terminationTimeout":900,"name":"CurrentUser","reportDate":"","presence":"HOME","temperatureOffset":0,"x":365.5,"y":705,"wires":[[]]},{"id":"78fdfa75.210764","type":"inject","z":"a96edd81.5079","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":132.5,"y":747,"wires":[["bb591a2d.9524d8","8595045a.436818","3048d4c7.abdc7c","b3c85101.d206","dcbb2513.395408","6ab30c26.b64824","a2aa9f62.01269"]]},{"id":"8595045a.436818","type":"tado","z":"a96edd81.5079","configName":"d9e87f67.735fa","apiCall":"getHome","homeId":"413073","deviceId":"","zoneId":"","power":"on","temperature":"18","terminationType":"manual","terminationTimeout":900,"name":"GetHomeInfo","reportDate":"","presence":"HOME","temperatureOffset":0,"x":365.5,"y":765,"wires":[[]]},{"id":"3048d4c7.abdc7c","type":"tado","z":"a96edd81.5079","configName":"d9e87f67.735fa","apiCall":"getDevices","homeId":"413073","deviceId":"","zoneId":"","power":"on","temperature":"18","terminationType":"manual","terminationTimeout":900,"name":"GetAllDevices","reportDate":"","presence":"HOME","temperatureOffset":0,"x":374.5,"y":828,"wires":[[]]},{"id":"b3c85101.d206","type":"tado","z":"a96edd81.5079","configName":"d9e87f67.735fa","apiCall":"getDeviceTemperatureOffset","homeId":"413073","deviceId":"VA0197334784","zoneId":"","power":"on","temperature":"18","terminationType":"manual","terminationTimeout":900,"name":"GetTempOffset","reportDate":"","presence":"HOME","temperatureOffset":0,"x":370.5,"y":884,"wires":[[]]},{"id":"dcbb2513.395408","type":"tado","z":"a96edd81.5079","configName":"d9e87f67.735fa","apiCall":"getZones","homeId":"413073","deviceId":"","zoneId":"","power":"on","temperature":"18","terminationType":"manual","terminationTimeout":900,"name":"GetAllZones","reportDate":"","presence":"HOME","temperatureOffset":0,"x":366.5,"y":950,"wires":[["5eda81a8.d82f2"]]},{"id":"6ab30c26.b64824","type":"tado","z":"a96edd81.5079","configName":"d9e87f67.735fa","apiCall":"setZoneOverlay","homeId":"413073","deviceId":"","zoneId":"3","power":"on","temperature":"20","terminationType":"auto","terminationTimeout":900,"name":"SetWohnzimmerTemp","reportDate":"","presence":"HOME","temperatureOffset":0,"x":390.5,"y":1018,"wires":[[]]},{"id":"26318977.8fd126","type":"ui_text","z":"a96edd81.5079","group":"b24d2afc.38b2a8","order":1,"width":0,"height":0,"name":"Tim Tuer","label":"Tuer","format":"{{msg.payload.state}}","layout":"row-spread","x":766.5,"y":46,"wires":[]},{"id":"260e6e90.f75402","type":"ui_text","z":"a96edd81.5079","group":"61e529b7.3bafc8","order":1,"width":0,"height":0,"name":"Romy Tuer","label":"Tuer","format":"{{msg.payload.state}}","layout":"row-spread","x":774,"y":94,"wires":[]},{"id":"9b809eda.41f3a","type":"mqtt in","z":"a96edd81.5079","name":"WindowsMQTT","topic":"/home/windows","qos":"2","datatype":"auto","broker":"f50e5c76.9c98e","x":119,"y":400,"wires":[["40abc1ed.3b099"]]},{"id":"40abc1ed.3b099","type":"json","z":"a96edd81.5079","name":"","property":"payload","action":"","pretty":false,"x":303,"y":398,"wires":[["df543906.c0c868","5eda81a8.d82f2"]]},{"id":"df543906.c0c868","type":"switch","z":"a96edd81.5079","name":"WindowsToRooms","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"Tim","vt":"str"},{"t":"eq","v":"Romy","vt":"str"},{"t":"eq","v":"KammerBa","vt":"str"},{"t":"eq","v":"KammerTo","vt":"str"},{"t":"eq","v":"SchlaziLi","vt":"str"},{"t":"eq","v":"SchlaziRe","vt":"str"},{"t":"eq","v":"KuecheBa","vt":"str"},{"t":"eq","v":"Kueche","vt":"str"},{"t":"eq","v":"WohnziLi","vt":"str"},{"t":"eq","v":"WohnziRe","vt":"str"},{"t":"eq","v":"WohnziEs","vt":"str"}],"checkall":"true","repair":false,"outputs":11,"x":537,"y":400,"wires":[["bbc6ac48.b6702","731115a0.33ae8c"],["8540adc4.1ed52"],["582a5cb1.cdcc04"],["1e468d3a.410043"],["f993590.ef79ea8"],["bd72d8c9.da3698"],["397af517.e9071a"],["1d6ab4b4.2cf99b"],["aba20597.4fff68"],["1b465e90.560951"],["61a4ef1c.1a854"]]},{"id":"bbc6ac48.b6702","type":"ui_text","z":"a96edd81.5079","group":"b24d2afc.38b2a8","order":2,"width":0,"height":0,"name":"Tim Fenster","label":"Fenster","format":"{{msg.payload.state}}","layout":"row-spread","x":801,"y":376,"wires":[]},{"id":"8540adc4.1ed52","type":"ui_text","z":"a96edd81.5079","group":"61e529b7.3bafc8","order":2,"width":0,"height":0,"name":"Romy Fenster","label":"Fenster","format":"{{msg.payload.state}}","layout":"row-spread","x":803.5,"y":423,"wires":[]},{"id":"eacafe5e.988cb","type":"ui_text","z":"a96edd81.5079","group":"3838935d.2cd90c","order":1,"width":0,"height":0,"name":"Kammer Tuer","label":"Tuer","format":"{{msg.payload.state}}","layout":"row-spread","x":784,"y":149,"wires":[]},{"id":"6a6e21b2.c8e8d","type":"ui_text","z":"a96edd81.5079","group":"fa76c13d.f92be","order":1,"width":0,"height":0,"name":"Kueche Tuer","label":"Tuer","format":"{{msg.payload.state}}","layout":"row-spread","x":777,"y":202,"wires":[]},{"id":"c2a34a75.84c7a8","type":"ui_text","z":"a96edd81.5079","group":"dbb48a5e.e81d78","order":1,"width":0,"height":0,"name":"Wohnzimmer Tuer","label":"Tuer Wo","format":"{{msg.payload.state}}","layout":"row-spread","x":798,"y":249,"wires":[]},{"id":"e92b1189.8b97f","type":"ui_text","z":"a96edd81.5079","group":"dbb48a5e.e81d78","order":2,"width":0,"height":0,"name":"Esszimmer Tuer","label":"Tuer Es","format":"{{msg.payload.state}}","layout":"row-spread","x":789,"y":282,"wires":[]},{"id":"582a5cb1.cdcc04","type":"ui_text","z":"a96edd81.5079","group":"3838935d.2cd90c","order":2,"width":0,"height":0,"name":"Kammer Balkon Fenster","label":"Fenster Ba","format":"{{msg.payload.state}}","layout":"row-spread","x":833,"y":474,"wires":[]},{"id":"1e468d3a.410043","type":"ui_text","z":"a96edd81.5079","group":"3838935d.2cd90c","order":3,"width":0,"height":0,"name":"Kammer Toillete Fenster","label":"Fenster To","format":"{{msg.payload.state}}","layout":"row-spread","x":832,"y":508,"wires":[]},{"id":"f993590.ef79ea8","type":"ui_text","z":"a96edd81.5079","group":"abfddc9d.07cba","order":1,"width":0,"height":0,"name":"Schlazi Li Fenster","label":"Fenster Li","format":"{{msg.payload.state}}","layout":"row-spread","x":811,"y":570,"wires":[]},{"id":"bd72d8c9.da3698","type":"ui_text","z":"a96edd81.5079","group":"abfddc9d.07cba","order":2,"width":0,"height":0,"name":"Schlazi Re Fenster","label":"Fenster Re","format":"{{msg.payload.state}}","layout":"row-spread","x":812,"y":605,"wires":[]},{"id":"397af517.e9071a","type":"ui_text","z":"a96edd81.5079","group":"fa76c13d.f92be","order":2,"width":0,"height":0,"name":"Kueche Balkon Fenster","label":"Fenster Ba","format":"{{msg.payload.state}}","layout":"row-spread","x":833,"y":660,"wires":[]},{"id":"1d6ab4b4.2cf99b","type":"ui_text","z":"a96edd81.5079","group":"fa76c13d.f92be","order":3,"width":0,"height":0,"name":"Kueche Fenster","label":"Fenster","format":"{{msg.payload.state}}","layout":"row-spread","x":804,"y":695,"wires":[]},{"id":"aba20597.4fff68","type":"ui_text","z":"a96edd81.5079","group":"dbb48a5e.e81d78","order":3,"width":0,"height":0,"name":"Wohnzimmer Li Fenster","label":"Fenster Li","format":"{{msg.payload.state}}","layout":"row-spread","x":834,"y":760,"wires":[]},{"id":"1b465e90.560951","type":"ui_text","z":"a96edd81.5079","group":"dbb48a5e.e81d78","order":4,"width":0,"height":0,"name":"Wohnzimmer Re Fenster","label":"Fenster Re","format":"{{msg.payload.state}}","layout":"row-spread","x":834,"y":796,"wires":[]},{"id":"61a4ef1c.1a854","type":"ui_text","z":"a96edd81.5079","group":"dbb48a5e.e81d78","order":5,"width":0,"height":0,"name":"Wohnzimmer Es Fenster","label":"Fenster Es","format":"{{msg.payload.state}}","layout":"row-spread","x":834,"y":832,"wires":[]},{"id":"731115a0.33ae8c","type":"ui_switch","z":"a96edd81.5079","name":"Tim Fenster","label":"Tuer","tooltip":"","group":"b24d2afc.38b2a8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"state","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":989.5,"y":332,"wires":[[]]},{"id":"a2aa9f62.01269","type":"tado","z":"a96edd81.5079","configName":"d9e87f67.735fa","apiCall":"getZoneState","homeId":"413073","deviceId":"","zoneId":"3","power":"on","temperature":"18","terminationType":"manual","terminationTimeout":900,"name":"GetAZoneState(Wohnzimmer)","reportDate":"","presence":"HOME","temperatureOffset":0,"x":413.5,"y":1081,"wires":[[]]},{"id":"1d86d158.6cb6df","type":"exec","z":"fa420be1.f9d0c8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":607.5,"y":1216.5,"wires":[["bea261a6.278f9"],["bea261a6.278f9"],["bea261a6.278f9"]]},{"id":"c439185a.538888","type":"inject","z":"fa420be1.f9d0c8","name":"TriggerCalib","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"cmd\":\"calib\"}","payloadType":"json","x":120.5,"y":1153,"wires":[["bea261a6.278f9","fe4b1166.9faeb"]]},{"id":"bea261a6.278f9","type":"debug","z":"fa420be1.f9d0c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":743.5,"y":1154,"wires":[]},{"id":"fe4b1166.9faeb","type":"template","z":"fa420be1.f9d0c8","name":"StepperWithCommands","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"python stepmotor2.py {{payload.cmd}} {{payload.param1}}","output":"str","x":367.5,"y":1216,"wires":[["bea261a6.278f9","1d86d158.6cb6df"]]},{"id":"cb93ab75.847fb8","type":"inject","z":"fa420be1.f9d0c8","name":"TriggerTempDiff","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"cmd\":\"tempdiff\", \"param1\": -2}","payloadType":"json","x":133,"y":1215,"wires":[["fe4b1166.9faeb"]]},{"id":"aa2fbd31.bccea","type":"inject","z":"fa420be1.f9d0c8","name":"Heat-Calib 6 Uhr","repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"{\"cmd\":\"calib\"}","payloadType":"json","x":189.50006103515625,"y":203.00001525878906,"wires":[["e259cade.d02a48"]]},{"id":"bfb8a6f1.258b48","type":"inject","z":"fa420be1.f9d0c8","name":"Heat-Calib 10 Uhr","repeat":"","crontab":"00 10 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"{\"cmd\":\"calib\"}","payloadType":"json","x":187.00006103515625,"y":245,"wires":[["e259cade.d02a48"]]},{"id":"d6ff8ff8.d9f6","type":"inject","z":"fa420be1.f9d0c8","name":"Heat-Calib 14 Uhr","repeat":"","crontab":"00 14 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"{\"cmd\":\"calib\"}","payloadType":"json","x":187.00006103515625,"y":284,"wires":[["e259cade.d02a48"]]},{"id":"f615d221.9423a","type":"inject","z":"fa420be1.f9d0c8","name":"Heat-Calib 18 Uhr","repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"{\"cmd\":\"calib\"}","payloadType":"json","x":187.00006103515625,"y":321,"wires":[["e259cade.d02a48"]]},{"id":"211705e5.32440a","type":"inject","z":"fa420be1.f9d0c8","name":"Heat-Calib 22 Uhr","repeat":"","crontab":"00 22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"{\"cmd\":\"calib\"}","payloadType":"json","x":187.00006103515625,"y":359,"wires":[["e259cade.d02a48"]]},{"id":"fc4615aa.086598","type":"inject","z":"fa420be1.f9d0c8","name":"Reading Heat Temp every 7 Min","repeat":"420","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":195.50006103515625,"y":629.000078201294,"wires":[["985b43b1.505a4","a7f94187.3f8be","43e96d86.cbe5e4","b8f4c934.3e6308","354e485.ebe0db8"]],"info":"Actually an injection trigger to be triggered here by mouse.\nBut its also possible to have the trigger act every x seconds.\nThis is used here. Every 7 minutes the following actors are triggered."},{"id":"3bcf9245.fedb3e","type":"debug","z":"fa420be1.f9d0c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1497.5001220703125,"y":628.0000610351562,"wires":[]},{"id":"985b43b1.505a4","type":"tado","z":"fa420be1.f9d0c8","configName":"d9e87f67.735fa","apiCall":"getZoneState","homeId":"413073","deviceId":"","zoneId":"3","power":"on","temperature":"18","terminationType":"manual","terminationTimeout":900,"name":"GetAZoneState(Wohnzimmer)","reportDate":"","presence":"HOME","temperatureOffset":0,"x":508.00006103515625,"y":513.0000114440918,"wires":[["731c22bd.48a87c"]],"info":"This Tado \"sensor\" is having a connection to the\ntado internet hub, by logging in as me and picking\nup header controller data of the \"wohnzimmer\" \n(Zone-ID: 3; Home-ID: 413073 ).\nThe retrieved data is forwarded as payload."},{"id":"a7f94187.3f8be","type":"tado","z":"fa420be1.f9d0c8","configName":"d9e87f67.735fa","apiCall":"getZoneState","homeId":"413073","deviceId":"","zoneId":"4","power":"on","temperature":"18","terminationType":"manual","terminationTimeout":900,"name":"GetAZoneState(Kueche)","reportDate":"","presence":"HOME","temperatureOffset":0,"x":494.00006103515625,"y":570.0000114440918,"wires":[["9a755efe.7ce43"]],"info":"This Tado \"sensor\" is having a connection to the\ntado internet hub, by logging in as me and picking\nup header controller data of the \"kueche\" \n(Zone-ID: 4; Home-ID: 413073 ).\nThe retrieved data is forwarded as payload."},{"id":"eda1b802.c8ca38","type":"join","z":"fa420be1.f9d0c8","name":"JoinTemps","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1030.5000610351562,"y":530.0000114440918,"wires":[["36f615b1.7a7e6a","3bcf9245.fedb3e"]],"info":"Join the extracted header data by its topics (\"kueche\", \"wohzi\", ...)\nand pass it on as an array."},{"id":"731c22bd.48a87c","type":"function","z":"fa420be1.f9d0c8","name":"ExtractWoziTemp","func":"var settemp = msg.payload.setting.temperature.celsius;\nvar recenttemp = msg.payload.sensorDataPoints.insideTemperature.celsius;\nvar difftemp = settemp - recenttemp;\nreturn { \n    payload: {zone: \"wohnzimmer\", temp: {set: settemp, rec: recenttemp, diff: difftemp}},\n    topic: \"wohnzimmer\"    \n};","outputs":1,"noerr":0,"x":754.0000610351562,"y":513.0000114440918,"wires":[["eda1b802.c8ca38","3bcf9245.fedb3e"]],"info":"From the passed payload of all header data,\nonly the needed data is extracted and is forwarded\nas payload.\n    payload: {zone: \"wohnzimmer\", temp: {set: settemp, rec: recenttemp, diff: difftemp}},\n    topic: \"wohnzimmer\"    \n"},{"id":"9a755efe.7ce43","type":"function","z":"fa420be1.f9d0c8","name":"ExtractKueTemp","func":"var settemp = msg.payload.setting.temperature.celsius;\nvar recenttemp = msg.payload.sensorDataPoints.insideTemperature.celsius;\nvar difftemp = settemp - recenttemp;\nreturn { \n    payload: {zone: \"kueche\", temp: {set: settemp, rec: recenttemp, diff: difftemp}},\n    topic: \"kueche\"    \n};","outputs":1,"noerr":0,"x":747.0000610351562,"y":569.0000114440918,"wires":[["eda1b802.c8ca38","3bcf9245.fedb3e"]],"info":"From the passed payload of all header data,\nonly the needed data is extracted and is forwarded\nas payload.\n    payload: {zone: \"kueche\", temp: {set: settemp, rec: recenttemp, diff: difftemp}},\n    topic: \"kueche\" "},{"id":"36f615b1.7a7e6a","type":"function","z":"fa420be1.f9d0c8","name":"DiffTempsToArray","func":"var wozidiff = msg.payload.wohnzimmer.temp.diff;\nvar kuechediff = msg.payload.kueche.temp.diff;\nvar schlazidiff = msg.payload.schlazi.temp.diff;\nvar timzidiff = msg.payload.timzi.temp.diff;\nvar romzidiff = msg.payload.romzi.temp.diff;\nreturn { payload: {diffs: [wozidiff, kuechediff, schlazidiff, timzidiff, romzidiff] }};","outputs":1,"noerr":0,"x":1062.5000610351562,"y":604.0000114440918,"wires":[["f340e05f.8dd9a","3bcf9245.fedb3e"]],"info":"Now pick only the temp-differences and forward them."},{"id":"f340e05f.8dd9a","type":"sort","z":"fa420be1.f9d0c8","name":"SortDiffTempsDesc","order":"descending","as_num":false,"target":"payload.diffs","targetType":"msg","msgKey":"","msgKeyType":"elem","seqKey":"payload","seqKeyType":"msg","x":1059.5000610351562,"y":671.0000114440918,"wires":[["4dbe1be5.e9f974","3bcf9245.fedb3e"]],"info":"Sort the temp-differnces descending. \nMeans highest first, lowest last."},{"id":"4dbe1be5.e9f974","type":"function","z":"fa420be1.f9d0c8","name":"PickFirstDiffTemp","func":"var firstDiffTemp = msg.payload.diffs[0].toString();\nreturn {payload: {cmd: \"tempdiff\", params : firstDiffTemp}};","outputs":1,"noerr":0,"x":1055.5000610351562,"y":737.0000114440918,"wires":[["3bcf9245.fedb3e","e259cade.d02a48"]],"info":"Pick first and therfore the highest temp-differnce and\nforward it.\nThis is the temp-difference being send via the\nRaspiMQTT (Message-Bus) for adjusting the \nCalorMATIC (Vailant) Heater Controller, to either\nrise the or drop the temperature.\n(If the highest temp-diff is negativ means the\ntemp will be dropped)"},{"id":"e259cade.d02a48","type":"mqtt out","z":"fa420be1.f9d0c8","name":"CmdToHeatController","topic":"/home/heatcontroller","qos":"2","retain":"","broker":"f50e5c76.9c98e","x":1506.5001220703125,"y":504,"wires":[],"info":"The passed temp-difference being send via the\nRaspiMQTT (Message-Bus) for adjusting the \nCalorMATIC (Vailant) Heater Controller, to either\nrise or drop the temperature.\n(If the highest temp-diff is negativ means the\ntemp will be dropped)"},{"id":"43e96d86.cbe5e4","type":"tado","z":"fa420be1.f9d0c8","configName":"d9e87f67.735fa","apiCall":"getZoneState","homeId":"413073","deviceId":"","zoneId":"5","power":"on","temperature":"18","terminationType":"manual","terminationTimeout":900,"name":"GetAZoneState(Schlazi)","reportDate":"","presence":"HOME","temperatureOffset":0,"x":493.00006103515625,"y":629.0000114440918,"wires":[["f257d372.81d42"]],"info":"This Tado \"sensor\" is having a connection to the\ntado internet hub, by logging in as me and picking\nup header controller data of the \"schlafzimmer\" \n(Zone-ID: 5; Home-ID: 413073 ).\nThe retrieved data is forwarded as payload."},{"id":"f257d372.81d42","type":"function","z":"fa420be1.f9d0c8","name":"ExtractSchlaziTemp","func":"var settemp = msg.payload.setting.temperature.celsius;\nvar recenttemp = msg.payload.sensorDataPoints.insideTemperature.celsius;\nvar difftemp = settemp - recenttemp;\nreturn { \n    payload: {zone: \"schlazi\", temp: {set: settemp, rec: recenttemp, diff: difftemp}},\n    topic: \"schlazi\"    \n};","outputs":1,"noerr":0,"x":750.0000610351562,"y":629.0000114440918,"wires":[["eda1b802.c8ca38","3bcf9245.fedb3e"]],"info":"From the passed payload of all header data,\nonly the needed data is extracted and is forwarded\nas payload.\n    payload: {zone: \"schlazi\", temp: {set: settemp, rec: recenttemp, diff: difftemp}},\n    topic: \"schlazi\"    \n"},{"id":"b8f4c934.3e6308","type":"tado","z":"fa420be1.f9d0c8","configName":"d9e87f67.735fa","apiCall":"getZoneState","homeId":"413073","deviceId":"","zoneId":"6","power":"on","temperature":"18","terminationType":"manual","terminationTimeout":900,"name":"GetAZoneState(Tim)","reportDate":"","presence":"HOME","temperatureOffset":0,"x":489.8181610107422,"y":687.8182067871094,"wires":[["f36c1679.4611d8","43e96d86.cbe5e4"]],"info":"This Tado \"sensor\" is having a connection to the\ntado internet hub, by logging in as me and picking\nup header controller data of the \"timzimmer\" \n(Zone-ID: 6; Home-ID: 413073 ).\nThe retrieved data is forwarded as payload."},{"id":"f36c1679.4611d8","type":"function","z":"fa420be1.f9d0c8","name":"ExtractTimziTemp","func":"var settemp = msg.payload.setting.temperature.celsius;\nvar recenttemp = msg.payload.sensorDataPoints.insideTemperature.celsius;\nvar difftemp = settemp - recenttemp;\nreturn { \n    payload: {zone: \"timzi\", temp: {set: settemp, rec: recenttemp, diff: difftemp}},\n    topic: \"timzi\"    \n};","outputs":1,"noerr":0,"x":749.0000610351562,"y":684.0000114440918,"wires":[["eda1b802.c8ca38","3bcf9245.fedb3e"]],"info":"From the passed payload of all header data,\nonly the needed data is extracted and is forwarded\nas payload.\n    payload: {zone: \"timzi\", temp: {set: settemp, rec: recenttemp, diff: difftemp}},\n    topic: \"timzi\"    \n"},{"id":"354e485.ebe0db8","type":"tado","z":"fa420be1.f9d0c8","configName":"d9e87f67.735fa","apiCall":"getZoneState","homeId":"413073","deviceId":"","zoneId":"7","power":"on","temperature":"18","terminationType":"manual","terminationTimeout":900,"name":"GetAZoneState(Romy)","reportDate":"","presence":"HOME","temperatureOffset":0,"x":486.00006103515625,"y":742.0000114440918,"wires":[["554e1073.4ae0a"]],"info":"This Tado \"sensor\" is having a connection to the\ntado internet hub, by logging in as me and picking\nup header controller data of the \"romyzimmer\" \n(Zone-ID: 7; Home-ID: 413073 ).\nThe retrieved data is forwarded as payload."},{"id":"554e1073.4ae0a","type":"function","z":"fa420be1.f9d0c8","name":"ExtractRomziTemp","func":"var settemp = msg.payload.setting.temperature.celsius;\nvar recenttemp = msg.payload.sensorDataPoints.insideTemperature.celsius;\nvar difftemp = settemp - recenttemp;\nreturn { \n    payload: {zone: \"romzi\", temp: {set: settemp, rec: recenttemp, diff: difftemp}},\n    topic: \"romzi\"    \n};","outputs":1,"noerr":0,"x":750.0000610351562,"y":743.0000114440918,"wires":[["eda1b802.c8ca38","3bcf9245.fedb3e"]],"info":"From the passed payload of all header data,\nonly the needed data is extracted and is forwarded\nas payload.\n    payload: {zone: \"romzi\", temp: {set: settemp, rec: recenttemp, diff: difftemp}},\n    topic: \"romzi\"    \n"},{"id":"3edc938b.3fea3c","type":"inject","z":"fa420be1.f9d0c8","name":"Lower every 16 Min.","repeat":"960","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"cmd\":\"tempdiff\", \"params\": \"-1\"}","payloadType":"json","x":1160.0000610351562,"y":369,"wires":[["e259cade.d02a48","3bcf9245.fedb3e"]]},{"id":"d3f7b5d3.d58628","type":"inject","z":"fa420be1.f9d0c8","name":"Heat-Calib 2 Uhr","repeat":"","crontab":"00 02 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"{\"cmd\":\"calib\"}","payloadType":"json","x":185.90911102294922,"y":397.27276611328125,"wires":[["e259cade.d02a48"]]},{"id":"7f48bcb3.0c29c4","type":"mqtt in","z":"fa420be1.f9d0c8","name":"Heat-State","topic":"/home/heatcontroller/state","qos":"2","datatype":"auto","broker":"f50e5c76.9c98e","x":130.50006103515625,"y":857.0000114440918,"wires":[["2f10adf.1627c52"]],"info":"Listening to this topic to pick up the recent temp.\n!! Its not working right now, looks like the\n   message is not send right now. -> Check the \n   header controller (Scala) !!!"},{"id":"2f10adf.1627c52","type":"json","z":"fa420be1.f9d0c8","name":"","property":"payload","action":"","pretty":false,"x":271.50006103515625,"y":857,"wires":[["382b7786.7b0b18","6bbca005.50952"]],"info":"From an incoming JSON to a payload for Node-RED."},{"id":"6bbca005.50952","type":"debug","z":"fa420be1.f9d0c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":752.5000610351562,"y":829,"wires":[]},{"id":"25a14961.610b06","type":"ui_chart","z":"fa420be1.f9d0c8","name":"RecentTempsChart","group":"c1bfec4e.86923","order":1,"width":"27","height":"7","label":"recenttemps","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"17","ymax":"25","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":769.5,"y":914,"wires":[[]],"info":"Paint a chart of the recent temps."},{"id":"382b7786.7b0b18","type":"function","z":"fa420be1.f9d0c8","name":"ExtractRecentTemps","func":"var seriesData = [];\nfor (var x of msg.payload.state) {\n    var rt = x.recentTemp;\n    var lt = x.longTime;\n    seriesData.push({\"x\" : lt, \"y\" : rt});\n}\nvar data = [seriesData];\nvar testobj = [{\n\"series\": [\"A\"],\n\"data\": data,\n\"labels\": [\"\"]\n}];\nreturn { \n    payload: testobj,\n    topic: \"recenttemps\"    \n};","outputs":1,"noerr":0,"x":516,"y":883,"wires":[["6bbca005.50952","25a14961.610b06"]],"info":"Extract the temp data from the payload and \nenrich it with data needed for a chart to\nrepresent a proper temp curve."},{"id":"e12be2eb.07989","type":"ui_button","z":"fa420be1.f9d0c8","name":"Temp +1","group":"26811bcd.3a6474","order":1,"width":0,"height":0,"passthru":false,"label":"Temp +1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"tempdiff\", \"params\": \"1\"}","payloadType":"json","topic":"tempdiffplusone","x":1058.5,"y":837,"wires":[["e259cade.d02a48"]],"info":"Send dirrectly (by hand) a request \nto rise the temp by 1 degree."},{"id":"5c5edf20.26bfe","type":"ui_button","z":"fa420be1.f9d0c8","name":"Temp -1","group":"26811bcd.3a6474","order":1,"width":0,"height":0,"passthru":false,"label":"Temp -1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"tempdiff\", \"params\": \"-1\"}","payloadType":"json","topic":"tempdiffminusone","x":1058,"y":891,"wires":[["e259cade.d02a48"]],"info":"Send dirrectly (by hand) a request \nto drop the temp by 1 degree."},{"id":"c4104aa7.7d8ab8","type":"ui_button","z":"fa420be1.f9d0c8","name":"Calibrate","group":"26811bcd.3a6474","order":1,"width":0,"height":0,"passthru":false,"label":"Calibrate","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"cmd\":\"calib\"}","payloadType":"json","topic":"tempdiffminusone","x":1058,"y":948,"wires":[["e259cade.d02a48"]],"info":"Send dirrectly (by hand) a request \nto do a calibration of the header controller."}]